.dashboard {
  height: 100vh;
  min-height: 100vh;
  min-width: 360px;

  .dashboard__item {
    display: grid;
    min-height: calc(100vh - 100px);

    .dashboard-content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 20px;

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .dashboard-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
      }
    }
  }

  .dashboard-title {
    padding: 0 0 20px 0;
    font-size: 22px;
    color: $color__secondary;
  }

  .dashboard-banner {
    display: grid;
    width: 100%;
    min-height: 250px;

    .dashboard-banner-content {
      position: relative;
      padding: 20px;
      .dashboard-banner-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-x: right;
        background-position-y: top;
        opacity: 0.5;
      }

      .dashboard-banner-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        height: 100%;

        .dashboard-banner-description {
          color: #fff;

          h2 {
            font-size: 22px;
          }

          h5 {
            font-weight: 400;
            font-size: 14px;
          }

          p {
            padding: 20px 0 0;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 13px;
          }
        }
      }
    }

    .music-play {
      max-height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .music-play svg {
      width: 70px;
      height: 70px;
    }
  }

  .dashboard-footer {
    position: sticky;
    bottom: 0;
    z-index: 9999;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: $color__secondary;
    width: 100%;
    min-height: 100px;
    .footer-music {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      img {
        display: none;
        width: 100px;
        height: 100px;
      }
    }
    .footer-play {
      audio {
        display: none;
      }
      .footer-play-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .icon-play {
          width: 60px;
          height: 60px;
          display: grid;
          place-items: center;
          background: $color__play__background;
          border-radius: 100%;
          cursor: pointer;
        }
        svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          cursor: pointer;
        }
        .svg-play-start {
          width: 40px;
          height: 40px;
        }
      }
    }
    .footer-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      width: 100%;
      p {
        font-size: 12px;
      }
    }
    .footer-volume {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
      .icon-volume {
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  @media screen and (min-width: $size__tablet) {
    .dashboard-footer {
      grid-template-columns: 1fr 1fr 1fr;
      .footer-music {
        grid-column: initial;
      }
      .footer-description {
        gap: 10px;
        align-items: initial;
      }
    }
  }

  @media screen and (min-width: $size__desktop) {
    .dashboard__item {
      grid-template-columns: 240px 1fr;
      .dashboard-content {
        .dashboard-cards {
          justify-content: initial;
        }
      }
    }

    .dashboard__item {
      .dashboard-content {
        padding: 40px;
      }
    }

    .dashboard-banner {
      .dashboard-banner-content {
        padding: 40px;
      }
    }
    .dashboard-footer {
      padding: 0;
      .footer-music {
        img {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: $size__large) {
    .dashboard__item {
      grid-template-columns: 320px 1fr;
    }
    .dashboard-banner {
      grid-template-columns: 250px 1fr;
    }
  }
}
