.card-music {
  width: 180px;

  img {
    width: 180px;
    height: 180px;
  }

  .card-music-description {
    padding: 5px 0;
    h5 {
      font-weight: 600;
    }

    p {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
