$color__primary: #662323;
$color__secondary: #e86060;
$color__banner__background: #a70000b2;
$color__play__background: #ff7676;
// Size web
$size__mobile: 360px; //- 479px
$size__tablet: 480px; //- 767px
$size__desktop: 768px; //- 1023px
$size__large: 1024px; //- 1279px
$size__xlarge: 1280px; //- 1439px
